ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.menu {
  display: flex;
  align-items: center;
  line-height: 30px;
  font-weight: 700;
  font-size: 20px;
  color: black;
}
.menu .arrow__icon {
  margin-left: 50px;
}
.submenu {
  display: none;
}
.submenu li {
  padding: 0.5rem 1rem !important;
}
.submenu li a {
  font-size: 16px;
  font-weight: 500;
  color: gray;
}
.disable {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
/* product content */
.card-product__image {
  margin-bottom: 20px;
}
.card-product__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-product__header {
  display: flex;
  justify-content: center;
}
.card-product__header--title {
  margin-right: 15px;
}
/* breakpoint */
@media screen and (max-width: 1400px) and (min-width:768px) {
  .card-product__header--price {
    font-size: 18px;
  }
  .card-product__header--title {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
#left-site-menu{
  display: none;
}
}
