ul li {
  list-style: none;
}
a{
  text-decoration: none;
}
.menu{
  display: flex;
  align-items: center;
  line-height: 30px;
}
.menu .arrow__icon{
  margin-left: 50px;
}
.submenu{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.disable{
  display: none;
}